{
  "extends": ["react-app"],
  "rules": {
    "react/jsx-pascal-case": [
      1,
      {
        "allowAllCaps": true,
        "allowNamespace": true,
        "allowLeadingUnderscore": false,
        "ignore": []
      }
    ]
  }
}
